<footer id="mainfooter">
  <p>
    Nick Young © 2020
  </p>
  <p>
    <a href="nicholas_young@brown.edu">[Email]</a>
    <a
      href="https://drive.google.com/file/d/1q5zkoOmsejaPNf2Rh-bgkcOOzXR7VAVi/view?usp=sharing"
      target="_blank"
      >[Résumé]</a
    >
    <a href="https://github.com/n-young" target="_blank">[Github]</a>
    <a href="https://devpost.com/n-young" target="_blank">[Devpost]</a>
    <a href="https://www.linkedin.com/in/ndashyoung/" target="_blank"
      >[LinkedIn]</a
    >
    <a href="https://www.instagram.com/ndashphoto/" target="_blank"
      >[Instagram]</a
    >
    <a href="http://vsco.co/ndashphoto/" target="_blank">[VSCO]</a>
  </p>
</footer>
