<footer id="mainfooter">
  <p>
    Designed with ♥️ by Nick Young © 2020
  </p>
  <p>
    <a href="https://n-young.xyz">[Site]</a>
    <a
      class="quicklink"
      href="https://drive.google.com/file/d/1q5zkoOmsejaPNf2Rh-bgkcOOzXR7VAVi/view?usp=sharing"
      target="_blank"
      >[Résumé]</a
    >
    <a
      class="quicklink"
      href="https://www.linkedin.com/in/ndashyoung/"
      target="_blank"
      >[LinkedIn]</a
    >
    <a class="quicklink" href="https://github.com/n-young" target="_blank"
      >[Github]</a
    >
    <a class="quicklink" href="https://devpost.com/n-young" target="_blank"
      >[Devpost]</a
    >
  </p>
</footer>
